@model SkyCommerce.Models.Produto

<div class="product-slide">
    <div class="col-sm-5 product-slide-left">
        <a class="product-slide-img" asp-controller="Catalogo" asp-action="Detalhes" asp-route-produto="@Model.NomeUnico">
            <img alt="img"
                 src="@Model.Imagem"
                 class="img-responsive">
        </a>
    </div>
    <div class="col-sm-7">
        <a class="product-slide-inner " asp-controller="Catalogo" asp-action="Detalhes" asp-route-produto="@Model.NomeUnico">
            <h1 class="product-title"> @Model.Nome</h1>

            <h3 class="product-code">Codigo : @Model.Codigo</h3>

            <div class="product-price">
                <span class="price-sales"> @Model.Valor.ToString("C")</span> <span class="price-standard">@Model.ValorAntigo.ToString("C")</span>
            </div>
            <div class="details-description">
                <p>
                    @Model.Descricao
                </p>
            </div>
        </a>
        <form asp-controller="Carrinho" asp-action="Adicionar">
            <input type="hidden" name="NomeUnico" value="@Model.NomeUnico" />
            <button title="Adicionar no carrinho" class="btn btn-stroke-dark" type="submit">
                <i class="glyphicon glyphicon-shopping-cart"></i> Adicionar no carrinho
            </button>
        </form>

    </div>
</div>